@{
    ViewData["Title"] = "Privacy Policy";
}

<h1>@ViewData["Title"]</h1>
<p>Your privacy is important to us. This Privacy Policy describes what personal information we collect and how we use it, as well as your rights regarding this information.</p><br>
<h4>Collection and Use of Information</h4>
<p>We collect certain information when you visit our website or use our services. This may include information you provide to us directly, such as your name, email address, or phone number. We may also automatically collect information about your usage of our website, including IP address, browser data, dates, and times of visits.</p>
<p>We use this information to ensure the quality of services provided, process orders, communicate with you, and enhance your experience on our website.</p>
<h4>Disclosure to Third Parties</h4>
<p>We do not disclose your personal data to third parties without your permission, except when necessary to provide services or as required by law.</p>
<h4>Data Protection</h4>
<p>We take security measures to protect your personal data from unauthorized access, alteration, disclosure, or destruction. We regularly assess our systems and procedures to ensure data security.</p>
<h4>Your Rights</h4>
<p>You have the right to request information about the personal data we hold about you, and in some cases, you may request correction, deletion, or restriction of the use of this information.</p>
<h4>Changes to the Privacy Policy</h4>
<p>We reserve the right to make changes to our Privacy Policy. Any changes will be posted on this page.</p>
<h4>Contact Us</h4>
<p>If you have any questions or suggestions regarding our Privacy Policy, please contact us at [email protected]</p>
<p>Last Updated: <u>16.11.2023</u></p>